.table{
	margin: 30px 10px;
}

.tower {
	position: relative;
	width: 33.33333333%;
	height: 300px;
	vertical-align: bottom !important;
	padding: 10px 10px 0 10px !important;
}

/*.blocks-container{
	border-bottom: 10px solid #333;
	height: 300px;
	border: 1px dashed green;
	height: 100%;
}*/

.column-wrapper{
	width: 100%;
	/*border-bottom: 10px solid #333;*/
	/*border: 1px dashed green;*/
	height: 100%;
}

.block-wrapper{

}

.block{
	height: 100%;
	display: block;
	border: 1px solid;
	cursor: pointer;
	background-color: red;
	z-index: 100;
	text-align: center;
	border-radius: 5px;
	margin: 1px auto;
	box-shadow: 6px 2px 6px #111;
}

.stick{
	width: 4%;
	background-color: #333;
	height: 100%;
	min-height: 100px;
	position: absolute;
	left: 48%;
	top: 0;
	z-index: -1;
}

.controls{
	margin-top: 30px;
}
.control-label{
	line-height: 30px;
}